*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    padding-top: 25px;
    color: white;
}
.content{
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: black;
    padding: 5px;
    background-image: url('components/1.png');
    background-repeat: no-repeat;
    background-position: 100% 95%;
}
.content .api_form{
    padding: 5px;
    display: flex;
}
.content .api_form input{
    width: 70%;
    font-size: xx-large;
    text-transform: capitalize;
}
.content .api_form button{
    width: 30%;
    font-size: large;
}

.api_data{
    width: 100%;
    padding: 5px;
}
.api_data ul{
    list-style-type: none;
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: large;
}
.api_data ul li i{
    color: gainsboro;
}
.api_data ul li b{
    color: rgb(225, 103, 3);
}